{{> head }}
{{> navbar}}    
<div class="row">
    <div class="col-2">
        <h1>Acerca </h1>
    </div>
    <div class="col-4">
        <img src="assets/img/logo.png" class="img img-thumbnail">
    </div>
</div>
{{> footer }}